.container{
    border-bottom: 1px solid black;
    width: auto;
    height: auto;
    background-color: red;
}
.titulo{
    display: flex;
    color: white;
}
.nav-funciones{
    display: flex;
    gap: 70px;
    padding-bottom: 10px;
    justify-content: end;
}